@mixin dark-theme-variables {
  @media (prefers-color-scheme: dark) {
    :root [data-dynamic-theme='auto'] {
      @content;
    }
  }

  :root [data-dynamic-theme='dark'] {
    @content;
  }
}

@mixin light-theme-variables {
  :root {
    /* Fallback for browsers that don't support prefers-color-scheme */
    @content;
  }

  @media (prefers-color-scheme: light) {
    :root [data-dynamic-theme='auto'] {
      @content;
    }
  }

  :root [data-dynamic-theme='light'] {
    @content;
  }
}

@mixin bold-brand {
  & [data-dynamic-theme-brand='bold'],
  &[data-dynamic-theme-brand='bold'] {
    // has both with and without space to target root and non root elements
    @content;
  }
}

@mixin subtle-brand {
  & [data-dynamic-theme-brand='subtle'],
  &[data-dynamic-theme-brand='subtle'] {
    // has both with and without space to target root and non root elements
    @content;
  }
}

$SHADOW_DOWN_1: 0px 1px 2px rgba(24, 39, 75, 0.04);
$SHADOW_DOWN_2: 0px 12px 20px -6px rgba(24, 39, 75, 0.02), 0px 16px 26px -4px rgba(24, 39, 75, 0.04);
$SHADOW_DOWN_3: 0px 24px 32px -24px rgba(0, 0, 0, 0.24);

$SHADOW_UP_1: 0px -8px 48px -8px rgba(109, 121, 165, 0.16);

$BRAND_HOVER_COLOR: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), #4779FF;
$BRAND_PRIMARY_COLOR: #4779FF;
$BRAND_SECONDARY_COLOR: rgba(71, 121, 255, 0.15);

$BORDER_RADIUS: 8px;

$TITLE: 16px;

$BODY_NORMAL: 14px;
$BODY_SMALL: 11px;
$BODY_MINI: 10px;

$BUTTON_PRIMARY: 13px;
$BUTTON_SECONDARY: 11px;

$NUMBERS_BIG: 13px;
$NUMBERS_MEDIUM: 11px;
$NUMBERS_SMALL: 10px;

@layer light-theme-default {
  // light theme is first, so it can be the default
  $BASE_1: #E7EEFF;
  $BASE_2: #E7EEFF;
  $BASE_3: rgba(22, 37, 77, 0.03);
  $BASE_4: rgba(22, 37, 77, 0.10);
  $BASE_5: linear-gradient(180deg, #FFFFFF 0%, #F7F7F9 100%);

  $TEXT_PRIMARY: #383C48;
  $TEXT_SECONDARY: rgba($TEXT_PRIMARY, 65%);
  $TEXT_TERTIARY: rgba($TEXT_PRIMARY, 40%);
  $TEXT_LINK: #0047FF;

  $CONNECTION_GREEN: #41cc99;

  $ERROR_1: #FF4646;
  $ERROR_2: rgb(255 70 70 / 10%);

  $OVERLAY: rgba(4, 16, 48, 0.5);
  $HOVER: rgba(22, 37, 77, 0.03);

  $LOADING_ANIMATION_GRADIENT: linear-gradient(
    90deg,
    rgb(255 255 255 / 0%) 0,
    rgb(255 255 255 / 20%) 20%,
    rgb(255 255 255 / 50%) 60%,
    rgb(255 255 255 / 0%)
  );

  @include light-theme-variables {
    --dynamic-font-family-primary: 'Space Mono', monospace;
    --dynamic-font-family-numbers: 'Space Mono', monospace;
    --dynamic-base-1: #{$BASE_1};
    --dynamic-base-2: #{$BASE_2};
    --dynamic-base-3: #{$BASE_3};
    --dynamic-base-4: #{$BASE_4};
    --dynamic-base-5: #{$BASE_5};
    --dynamic-brand-hover-color: #{$BRAND_HOVER_COLOR};
    --dynamic-brand-primary-color: #{$BRAND_PRIMARY_COLOR};
    --dynamic-brand-secondary-color: #{$BRAND_SECONDARY_COLOR};
    --dynamic-connection-green: #{$CONNECTION_GREEN};
    --dynamic-border-radius: #{$BORDER_RADIUS};
    --dynamic-hover: #{$HOVER};
    --dynamic-error-1: #{$ERROR_1};
    --dynamic-error-2: #{$ERROR_2};
    --dynamic-footer-background-color: #{$BASE_2};
    --dynamic-footer-text-color: #{$TEXT_PRIMARY};
    --dynamic-footer-icon-color: #{$BRAND_PRIMARY_COLOR};
    --dynamic-loading-animation-gradient: #{$LOADING_ANIMATION_GRADIENT};
    --dynamic-overlay: #{$OVERLAY};
    --dynamic-shadow-down-1: #{$SHADOW_DOWN_1};
    --dynamic-shadow-down-2: #{$SHADOW_DOWN_2};
    --dynamic-shadow-down-3: #{$SHADOW_DOWN_3};
    --dynamic-shadow-up-1: #{$SHADOW_UP_1};
    --dynamic-text-link: #{$TEXT_LINK};
    --dynamic-text-primary: #{$TEXT_PRIMARY};
    --dynamic-text-secondary: #{$TEXT_SECONDARY};
    --dynamic-text-size-body-mini: #{$BODY_MINI};
    --dynamic-text-size-body-normal: #{$BODY_NORMAL};
    --dynamic-text-size-body-small: #{$BODY_SMALL};
    --dynamic-text-size-button-primary: #{$BUTTON_PRIMARY};
    --dynamic-text-size-button-secondary: #{$BUTTON_SECONDARY};
    --dynamic-text-size-numbers-big: #{$NUMBERS_BIG};
    --dynamic-text-size-numbers-medium: #{$NUMBERS_MEDIUM};
    --dynamic-text-size-numbers-small: #{$NUMBERS_SMALL};
    --dynamic-text-size-title: #{$TITLE};
    --dynamic-text-tertiary: #{$TEXT_TERTIARY};
    --dynamic-badge-background: #{$BASE_3};
    --dynamic-badge-color: #{$TEXT_PRIMARY};
    --dynamic-badge-dot-background: #{$BRAND_PRIMARY_COLOR};
    --dynamic-search-bar-background: ;
    --dynamic-search-bar-background-hover:#{$BASE_3};
    --dynamic-search-bar-background-focus: ;
    --dynamic-search-bar-border: 1px solid #{$BASE_4};
    --dynamic-search-bar-border-hover: 1px solid #{$BASE_4};
    --dynamic-search-bar-border-focus: 1px solid #{$BASE_4};
    --dynamic-modal-border: 2px solid #{$TEXT_PRIMARY};
    --dynamic-modal-width: 20rem; // 320px
    --dynamic-modal-padding: 1rem; // 16px
    --dynamic-footer-padding: 1rem 1.25rem 1rem 1.5rem; // 16px 20px 16px 24px
    --dynamic-footer-border: 2px solid #{$TEXT_PRIMARY};
    --dynamic-wallet-list-tile-padding: 0.625rem; // 8px
    --dynamic-wallet-list-tile-gap: ; // 0px
    --dynamic-wallet-list-max-height: 13.65rem;
    --dynamic-wallet-list-tile-background: ;
    --dynamic-wallet-list-tile-border: ;
    --dynamic-wallet-list-tile-shadow: ;
    --dynamic-wallet-list-tile-background-hover: #{$BASE_3};
    --dynamic-wallet-list-tile-border-hover: ;
    --dynamic-wallet-list-tile-shadow-hover: ;
    --dynamic-connect-button-background: #{$BASE_2};
    --dynamic-connect-button-color: #{$TEXT_PRIMARY};
    --dynamic-connect-button-border: 2px solid #{$TEXT_PRIMARY};
    --dynamic-connect-button-shadow: #{$SHADOW_DOWN_1};
    --dynamic-connect-button-background-hover: #E0E9FF;
    --dynamic-connect-button-color-hover: #{$TEXT_PRIMARY};
    --dynamic-connect-button-border-hover: 2px solid #{$TEXT_PRIMARY};
    --dynamic-connect-button-shadow-hover: #{$SHADOW_DOWN_2};
    --dynamic-tooltip-color: #{$TEXT_PRIMARY};
    --dynamic-tooltip-text-color: #{$BASE_2};
    @include bold-brand {
      --dynamic-footer-text-color: #{$BASE_2};
      --dynamic-footer-icon-color: rgba(247, 247, 249, 0.75);
      --dynamic-footer-border: ;
    }
  }
}

@layer dark-theme-default {
  $BASE_1: #03123A;
  $BASE_2: #03123A;
  $BASE_3: rgba(231, 234, 243, 0.08);
  $BASE_4: rgba(231, 234, 243, 0.15);
  $BASE_5: linear-gradient(180deg, #24272F 0%, #000000 100%);

  $TEXT_BASE: #f5f8ff;
  $TEXT_PRIMARY: rgba($TEXT_BASE, 95%);
  $TEXT_SECONDARY: rgb($TEXT_BASE, 55%);
  $TEXT_TERTIARY: rgb($TEXT_BASE, 40%);
  $TEXT_LINK: #69A5FF;

  $CONNECTION_GREEN: #46FFBC;

  $ERROR_1: #FF6A6A;
  $ERROR_2: rgb(255 106 106 / 20%);

  $OVERLAY: rgba(4, 16, 48, 0.5);
  $HOVER: rgba(255, 255, 255, 0.1);

  $LOADING_ANIMATION_GRADIENT: linear-gradient(
    90deg,
    rgb(255 255 255 / 0%) 0,
    rgb(255 255 255 / 1%) 20%,
    rgb(255 255 255 / 5%) 60%,
    rgb(255 255 255 / 0%)
  );

  @include dark-theme-variables {
    --dynamic-font-family-primary: 'Space Mono', monospace;
    --dynamic-font-family-numbers: 'Space Mono', monospace;
    --dynamic-base-1: #{$BASE_1};
    --dynamic-base-2: #{$BASE_2};
    --dynamic-base-3: #{$BASE_3};
    --dynamic-base-4: #{$BASE_4};
    --dynamic-base-5: #{$BASE_5};
    --dynamic-brand-hover-color: #{$BRAND_HOVER_COLOR};
    --dynamic-brand-primary-color: #{$BRAND_PRIMARY_COLOR};
    --dynamic-brand-secondary-color: #{$BRAND_SECONDARY_COLOR};
    --dynamic-connection-green: #{$CONNECTION_GREEN};
    --dynamic-border-radius: #{$BORDER_RADIUS};
    --dynamic-hover: #{$HOVER};
    --dynamic-error-1: #{$ERROR_1};
    --dynamic-error-2: #{$ERROR_2};
    --dynamic-footer-background-color: #{$BASE_1};
    --dynamic-footer-text-color: #{$TEXT_PRIMARY};
    --dynamic-footer-icon-color: #{$BRAND_PRIMARY_COLOR};
    --dynamic-loading-animation-gradient: #{$LOADING_ANIMATION_GRADIENT};
    --dynamic-overlay: #{$OVERLAY};
    --dynamic-shadow-down-1: #{$SHADOW_DOWN_1};
    --dynamic-shadow-down-2: #{$SHADOW_DOWN_2};
    --dynamic-shadow-down-3: #{$SHADOW_DOWN_3};
    --dynamic-shadow-up-1: #{$SHADOW_UP_1};
    --dynamic-text-link: #{$TEXT_LINK};
    --dynamic-text-primary: #{$TEXT_PRIMARY};
    --dynamic-text-secondary: #{$TEXT_SECONDARY};
    --dynamic-text-size-body-mini: #{$BODY_MINI};
    --dynamic-text-size-body-normal: #{$BODY_NORMAL};
    --dynamic-text-size-body-small: #{$BODY_SMALL};
    --dynamic-text-size-button-primary: #{$BUTTON_PRIMARY};
    --dynamic-text-size-button-secondary: #{$BUTTON_SECONDARY};
    --dynamic-text-size-numbers-big: #{$NUMBERS_BIG};
    --dynamic-text-size-numbers-medium: #{$NUMBERS_MEDIUM};
    --dynamic-text-size-numbers-small: #{$NUMBERS_SMALL};
    --dynamic-text-size-title: #{$TITLE};
    --dynamic-text-tertiary: #{$TEXT_TERTIARY};
    --dynamic-badge-background: #002380;
    --dynamic-badge-color: #{$TEXT_PRIMARY};
    --dynamic-badge-dot-background: #{$BRAND_PRIMARY_COLOR};
    --dynamic-search-bar-background: ;
    --dynamic-search-bar-background-hover:#{$BASE_3};
    --dynamic-search-bar-background-focus: ;
    --dynamic-search-bar-border: 1px solid #{$BASE_3};
    --dynamic-search-bar-border-hover:1px solid #{$BASE_4} ;
    --dynamic-search-bar-border-focus: 1px solid #{$BASE_4};
    --dynamic-modal-border: ;
    --dynamic-modal-width: 20rem; // 320px
    --dynamic-modal-padding: 1rem; // 16px
    --dynamic-footer-padding: 1rem 1.25rem 1rem 1.5rem; // 16px 20px 16px 24px
    --dynamic-footer-border: 1px solid #{$BASE_4};
    --dynamic-wallet-list-tile-padding: 0.625rem; // 8px
    --dynamic-wallet-list-tile-gap: ; // 0px
    --dynamic-wallet-list-max-height: 13.65rem;
    --dynamic-wallet-list-tile-background: ;
    --dynamic-wallet-list-tile-border: ;
    --dynamic-wallet-list-tile-shadow: ;
    --dynamic-wallet-list-tile-background-hover: #{$BASE_3};
    --dynamic-wallet-list-tile-border-hover: ;
    --dynamic-wallet-list-tile-shadow-hover: ;
    --dynamic-connect-button-background: #{$BASE_1};
    --dynamic-connect-button-color: #{$TEXT_PRIMARY};
    --dynamic-connect-button-border: ;
    --dynamic-connect-button-shadow: #{$SHADOW_DOWN_1};
    --dynamic-connect-button-background-hover: #041030;
    --dynamic-connect-button-color-hover: #{$TEXT_PRIMARY};
    --dynamic-connect-button-border-hover: ;
    --dynamic-connect-button-shadow-hover: #{$SHADOW_DOWN_1};
    --dynamic-tooltip-color: #{$TEXT_PRIMARY};
    --dynamic-tooltip-text-color: #{$BASE_1};
    @include bold-brand {
      --dynamic-footer-text-color: #{$TEXT_PRIMARY};
      --dynamic-footer-icon-color: #{$TEXT_TERTIARY};
      --dynamic-footer-border: ;
    }
  }
}